@import url('bootstrap');
@import url('bootstrap-icons');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: lightgray !important;
}

a {
    text-decoration: none !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.644);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.514);
    border: none;

    &:hover {
        background-color: rgba(128, 128, 128, 0.966);
        border: solid 1px black;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.192);
    }


    p {
        text-transform: uppercase;
    }

    img {
        display: block;
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }
}


.all {
    background-color: lightgray;
    display: flex;

    .up {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        padding: 2rem;

        h3 {
            font-size: 22px;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
        font-size: 18px;
    }

}

.single {
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {

        width: 30%;
        height: 30%;
        object-fit: contain;
    }
}

.card_rating {
    border: 1px solid black;
    color: black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    background-color: gray;
    min-height: 80vh;

    h1 {
        color: black;
    }
}

.container {
    .log {
        color: black;
    }
}

hr {
    color: lightgray;
}

.regular {

    li {
        border: solid 1px black;
        border-radius: 1rem;
        list-style: none;

        h3 {
            color: black;
        }

        p {
            color: black;
        }
    }
}

.row>* {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.img-container {
    width: 100%;
}

.star {
    color: rgba(226, 193, 7, 0.74);
}