@import url('bootstrap');
@import url('bootstrap-icons');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.card {
    background-color: lightgray;
    border: none;



    p {
        text-transform: uppercase;
    }

    img {

        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}