@import url('bootstrap');
@import url('bootstrap-icons');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.card {
    background-color: lightgray;
    border: none;



    p {
        text-transform: uppercase;
    }

    img {

        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}


.all {
    background-color: lightgray;
    display: flex;

    .up {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        padding: 2rem;

        h3 {
            font-size: 22px;
            margin-left: 150px;
            margin-right: 150px;

        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    li {
        margin-left: 150px;
        margin-right: 150px;
        list-style: none;
        font-size: 18px;
    }

}