@import url('bootstrap');
@import url('bootstrap-icons');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: gray !important;
}

a {
    text-decoration: none !important;
}

.card {
    background-color: gray;
    border: none;

    p {
        text-transform: uppercase;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}


.all {
    background-color: gray;
    display: flex;

    .up {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        padding: 2rem;

        h3 {
            font-size: 22px;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
        font-size: 18px;
    }

}

.single {
    color: #909190;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {

        width: 30%;
        height: 30%;
        object-fit: contain;
    }
}

.card_rating {
    border: 1px solid #909190;
    color: #909190;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    background-color: rgb(27, 27, 27);
    min-height: 80vh;

    h1 {
        color: gray;
    }
}

.container {
    .log {
        color: #909190;
    }
}